<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<label>Bienvenido <span th:text='${usuario.nombre}'></span> 
					  <span th:text='${usuario.apellido}'></span> 
					  <span th:text='${usuario.edad}'></span> 
	</label>
</body>
</html>